.blog {
  margin: 5px;
  border: solid 1px;
  padding: 10px 10px;
  width: 500px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message {
  background: green;
  font-size: 20px;
  border: solid 2px;
  padding: 10px;
  margin-bottom: 25px;
  width: 500px;
}

.error {
  background: red;
  font-size: 20px;
  border: solid 2px;
  padding: 10px;
  margin-bottom: 25px;
  width: 500px;
}